@import './globals.css';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin: 0;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  line-height: 1.4;
}

button {
  cursor: pointer;
}

.drag-region {
  -webkit-app-region: drag;
}
.no-drag {
  -webkit-app-region: no-drag;
}
